*{
  font-size: 1.5vw;
  color: black;
  font-weight: 500;
}
a{
  text-decoration: none;
}
.prodLink:hover{
  background-color: transparent;
}
#caContainer{
  padding: 2rem;
  display: flex;
  flex-direction: column;
}
.caRow{
  height: 5rem;
  overflow: hidden;
}
th{
  height: 3rem;
  width: 3rem;
  overflow: hidden;
}
.caseImg{
  overflow: hidden;
}
.caImg{
  height: 8rem;
  width: 5rem;
  object-fit: cover;
}
td{
  padding-left: 2rem;
}
.caQte{
  display: inline;
}
.caForm{
  display: inline;
  padding: 0 2rem;
}
.caAdd, .caRemove{
  text-align: center;
  height: 2rem;
  width: 2rem;
  padding: 0.5rem;
}
.caPrice{
  color: rgb(61, 61, 61);
  font-weight: 800;
}
input[type=submit]{
  background-color: grey;
  border: none;
  cursor: pointer;
  transition: 0.5s;
}
input[type=submit]:hover{
  transition: 0.5s;
  background-color: rgb(192, 192, 192);
}