/* *{
}

#tableContainer{
  width: 100%;
  padding: 1.5rem;
  background-color:red;
  display: flex;
  justify-content:center;
}

.imgProduct{
  height: 2rem
}

input{
  font-size: 0.2rem;
  width: 1rem;
  height: 0.4rem;
}

.case{
  width: 20%;
  padding: 20px;
  border: 2px black solid;
  /* background-color: black; */
} */