*{
  margin: 0;
  padding: 0;
}
body{
  font-size: 1.5vw;
  padding: 4rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
a{
  color: black;
  text-decoration: none;
  font-size: 2rem;
}
h1{
  font-size: 2.5rem;
}
#forms{
  display: flex;
  flex-direction: row;
  width: 100%;
}
form{
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 1rem 5rem;
  gap: 0.5rem;
}
input, select{
  height: 2.5rem;
}
#terms{
  font-size: 1rem;
}