*{
    margin: 0;
    padding: 0;
    font-size: 1.5vw;
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Kaushan Script', cursive; */
}
.icons{
    height: 1.2rem;
}
a{
    color: black;
    text-decoration: none;
}
header a{
    color: black;
    transition: 0.3s;
    padding: 0 0.3rem;
    text-align: center;
    justify-content: center;
    /* height: 100%; */
}
header #navbar a{
    padding: 0.5rem 0.3rem;
}
#cartHeader:hover, #wishHeader:hover{
    background-color: transparent;
}
header a:hover{
    color: rgb(255, 255, 255);
    transition: 0.3s;
    background-color: rgb(105, 105, 105);
    padding: 0 0.3rem;
}
body{
    padding: 1.5rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
header{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 0.5rem;
    margin-bottom: 1rem;
    /* background-color: gray; */
}
#navbar{
    /* padding: 0.5rem; */
    height: 1.7rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* background-color: rebeccapurple; */
}
h1{
    font-size: 3rem;
    text-align: center;
}
#account{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
#name{
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 0.5rem;
}
#name h2{
    /* text-align: right; */
    font-size: 1.5rem;
    font-weight: 500;
}
#ratio{
    width: 22rem;
    margin-top: 1rem;
}
#container{
    padding-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.855rem;
    width: 63.5rem;
    margin: 0 auto;
}
.product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 12rem;
    height: 18rem;
    overflow: hidden;
}
.image{
    display: flex;
    height: 15rem;
    overflow: hidden;
}
.imgProd{
    height: 15rem;
    width: 20rem;
    object-fit: cover;
}
.pName, .pPrice, .pId{
    font-size: 0.8rem;
}

.streetwear{
    background-color: rgb(228, 121, 255);
}
.boheme{
    background-color: pink;
}
.casual{
    background-color: mediumseagreen;
}
.chic{
    background-color: rgb(122, 122, 255);
}